.container {
	width: 100%;
	background: var(--bg-color-dark);
	max-width: 15.625rem;
	border-right: 1px solid var(--border-color);
	height: 100vh;
	position: relative;
}

.section {
	padding: 0.625rem 0.938rem;
	display: flex;
	flex-direction: column;
}

.section:first-child {
	padding: 1.875rem 0 0.938rem;
}

.title {
	font-size: var(--small-font-size);
	user-select: none; /* Safari */
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 0.313rem;
}

.titleClickable {
	cursor: pointer;
	transition: color 0.2s ease;
}

.titleClickable:hover {
	color: var(--foreground-color);
}

.caretIcon {
	margin-left: auto;
	transition: transform 0.2s ease;
}

.caretExpanded {
	transform: rotate(180deg);
}

.caretCollapsed {
	transform: rotate(0deg);
}

.linkItem {
	display: flex;
	align-items: center;
	padding: 0.313rem 0.938rem;
	cursor: pointer;
	font-size: var(--small-font-size);
}

.linkItemActive {
	background: var(--current-line);
	color: var(--foreground-color);
}

.settingsItems {
	color: var(--gray-color);
	cursor: pointer;
	padding: 0 0.625rem;
	display: flex;
	align-items: center;
}

.mail {
	font-size: var(--small-font-size);
}

.mailLoading {
	background: var(--current-line);
	animation: fade-in-out 2s infinite;
	height: 2rem;
}

.settingsItems:hover {
	color: var(--foreground-color);
}

.icon {
	margin-right: 0.625rem;
}

.signOutIcon {
	margin-right: 0.313rem;
}

.mobileMenuContainer {
	display: none;
	justify-content: center;
	align-items: center;
}

.mobileItemList {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.mobileIcon {
	cursor: pointer;
	margin: 0 0.625rem;
}

@media (width < 1140px) {
	.mobileMenuContainer {
		width: 100%;
		position: fixed;
		display: flex;
		bottom: 0;
		z-index: 5;
		height: 50px;
		max-width: 100%;
		left: 0;
		background: var(--bg-color-dark);
		border-top: 1px solid var(--border-color);
	}

	.container {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		height: calc(100vh - 3.2rem);
		transition:
			width 0.1s,
			visibility 0s;
	}

	.containerOpen {
		visibility: visible;
		width: 50%;
	}

	.containerClosed {
		visibility: hidden;
		width: 0;
	}
}

@media (width < 420px) {
	.mail {
		font-size: 0.6rem;
	}
}

@keyframes fade-in-out {
	0%,
	100% {
		opacity: 0;
	}

	50% {
		opacity: 0.2;
	}
}
