.container {
	width: 100%;
	background: var(--bg-color-dark);
	max-width: 15.625rem;
	border-right: 1px solid var(--border-color);
	height: 100vh;
	transition: max-width 0.3s;
	position: relative;
}

.section {
	padding: 0.625rem 0.938rem;
	display: flex;
	flex-direction: column;
}

.section:first-child {
	padding: 1.875rem 0 0.938rem;
}

.section:last-child {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.title {
	font-size: var(--small-font-size);
	user-select: none; /* Safari */
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 0.313rem;
}

.linkItem {
	display: flex;
	align-items: center;
	padding: 0.313rem 0.938rem;
	cursor: pointer;
	font-size: var(--small-font-size);
}

.linkItemActive {
	background: var(--current-line);
	color: var(--foreground-color);
}

.settingsItems {
	color: var(--gray-color);
	cursor: pointer;
	margin: 0.625rem;
	display: flex;
	width: 100%;
	align-items: center;
}

.settingsItems:hover {
	color: var(--foreground-color);
}

.icon {
	margin-right: 0.625rem;
}

.signOutIcon {
	margin-right: 0.313rem;
}

@media (width <= 768px) {
	.container {
		width: 100%;
		overflow: hidden;
		max-width: 3.5rem;
		height: auto;
	}

	.section {
		display: none;
	}
}
