NEXT_PUBLIC_BASE_URL=https://snippets.vianch.com
NEXT_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<SUBSTITUTE_SUPABASE_ANON_KEY>
ANTHROPIC_API_KEY=<SUBSTITUTE_ANTHROPIC_API_KEY>
ANTHROPIC_MODEL=claude-sonnet-4-20250514
ANTHROPIC_VERSION=2023-06-01
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=codellama
