.codeEditorContainer {
	width: calc(100% - 39.375rem);
	height: calc(100vh - 1.5625rem);
	position: relative;
	margin-bottom: -1.5625rem;
}

.noSnippetContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--gray-color);
	opacity: 0.4;
	user-select: none;
}

.noSnippet {
	font-size: var(--small-font-size);
}

.codeMirrorContainer {
	margin-top: 0;
}

.codeMirrorContainer ::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.codeMirrorContainer ::-webkit-scrollbar-track {
	background: var(--bg-color);
}

/* Handle */
.codeMirrorContainer ::-webkit-scrollbar-thumb {
	background: var(--bg-color-dark);
}

/* Handle on hover */
.codeMirrorContainer ::-webkit-scrollbar-thumb:hover {
	background: var(--bg-color-dark);
}

.header {
	display: flex;
	height: 4rem;
	background: var(--bg-color-dark);
	align-items: center;
	padding: 0 0.625rem;
	border-bottom: 1px solid var(--border-color);
	flex-flow: row nowrap;
	justify-content: space-between;
}

.headerLeftSide {
	display: flex;
	max-width: 16.25rem;
	width: 100%;
	align-items: center;
}

.starIcon {
	margin-right: 0.313rem;
	cursor: pointer;
}

.headerRightSide {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-flow: row nowrap;
}

.button {
	height: 1.563rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 0.313rem 0.625rem;
	margin: 0 0 0 0.625rem;
}

.icon {
	margin-right: 0.313rem;
	position: relative;
	bottom: 1px;
}

@media (width < 1140px) {
	.codeEditorContainer {
		width: 100%;
	}
}
