.snippetsListContainer {
	width: 100%;
	background: var(--bg-color-dark);
	max-width: 23.75rem;
	border-right: 1px solid var(--border-color);
	height: 100vh;
}

.fields {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.addButton {
	margin: 0 0.625rem 0 0;
	cursor: pointer;
	color: var(--foreground-color);
	transition: all 0.25s ease;
}

.addButton:hover {
	color: var(--cyan-color);
}

.snippetsList {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 80px);
	padding: 10px 10px 0;
	overflow-y: auto;
}

.snippetsList::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.snippetsList::-webkit-scrollbar-track {
	background: var(--bg-color);
}

/* Handle */
.snippetsList::-webkit-scrollbar-thumb {
	background: var(--current-line);
}

/* Handle on hover */
.snippetsList::-webkit-scrollbar-thumb:hover {
	background: var(--current-line);
}

.snippetItem {
	color: var(--gray-color);
	cursor: pointer;
	display: flex;
	width: calc(100% - 1.25rem);
	align-items: center;
	border-bottom: 1px solid var(--border-color);
	padding: 0.625rem;
	justify-content: space-between;
	font-size: var(--small-font-size);
	transition: all 0.1s ease;
}

.snippetItem.active {
	color: var(--foreground-color);
	background: var(--current-line);
	border-radius: var(--border-radius);
}

.snippetDate {
	color: var(--comment-color);
	font-size: var(--tiny-font-size);
}

.noSnippetContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--gray-color);
	opacity: 0.4;
	width: 100%;
	height: calc(100% - 160px);
}

.noSnippet {
	font-size: var(--small-font-size);
}

.searchIcon {
	fill: currentcolor;
	color: var(--gray-color);
}

.itemLeftSide {
	display: flex;
	align-items: center;
}

.trashIcon,
.restoreIcon {
	margin-right: 0.313rem;
}

.trashIcon:hover {
	color: var(--red-color);
}

.restoreIcon:hover {
	color: var(--green-color);
}

@media (width <= 768px) {
	.snippetsListContainer {
		width: 100%;
		max-width: inherit;
		height: auto;
	}
}
