.main {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	align-items: center;
	min-height: 100vh;
	box-sizing: border-box;
	isolation: isolate;
}

.section {
	width: 100%;
	padding: 3rem 0;
}

@media (width <= 768px) {
	.main {
		padding-left: 15px;
		padding-right: 15px;
	}

	.main :global(.container) {
		margin-left: 0;
		margin-right: 0;
	}
}
