.button {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	text-align: center;
	text-decoration: none;
	font-size: var(--small-font-size);
	cursor: pointer;
	transition: background-color 0.3s;
}

.primary {
	background: transparent;
	color: var(--foreground-color);
}

.secondary {
	background: var(--current-line);
	color: var(--gray-color);
}

.button:hover {
	background-color: var(--gray-color);
	color: var(--bg-color-dark);
}
